@import url("../css/generate.css");
.section-title{
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: var(--dark-navy);
}
/* HERO */
.hero-box {
  background: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
  url("../img/about-bg-img.png");
  background-repeat: no-repeat;
  background-position: center 0;
}
.hero-container {
    position: relative;
  display: flex;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 68px;
}
.hero-container::after {
    position: absolute;
    right: 0;
    content: "";
    width: 203px;
    height: 63px;
    background-image: url("../img/about-circle.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-title {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white-color);
}

/* MAIN  */
/* our-offer */
.our-offer{
  padding-top: 120px;
}
.offer-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.offer-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
.offer-item::after{
  position: relative;
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
}
.Mobility::after{
  width: 741px;
  height: 450px;
  background-image: url(../img/about-img/mobility.png);
}
.Better::after{
  width: 610px;
  height: 445px;
  background-image: url(../img/about-img/better.png);
}
.offer-item:nth-child(even)::after{
  order: -1;
  right: 115px;
}
.offer-item:nth-child(odd)::after{
  left: 115px;
}
.offer-wrapper{
  max-width: 445px;
}
.offer-title{
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--dark-navy);
}
.offer-info{
  margin: 0;
}

/* FAQS */
.faqs-section{
  padding-top: 120px;
  padding-bottom: 160px;
}
.faqs-title{
  margin-bottom: 64px;
}
.faqs-item{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.faqs-item + .faqs-item{
  margin-top: 64px;
}
.faq-name{
  margin: 0;
  margin-right: 30px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}
.faqs-wrapper{
  width: 730px;
}
.faq-data{
  position: relative;
  padding: 40px 40px;
  background-color: var(--snow);
}
.faq-data +.faq-data{
  margin-top: 16px;
}
.data-name{
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--dark-navy);
}
.data-text{
  display: none;
  transition: 1s;
}
.open{
  display: block;
  margin-top: 24px;
  margin-bottom: 0;
  color: var(--dark-navy);
}
.dropdown-button{
  position: absolute;
  top: 48px;
  right: 40px;
  width: 18px;
  height: 13px;
  border: none;
  background-color: transparent;
  background-image: url("../img/about-img/open.png");
  background-position: center;
  cursor: pointer;
}