:root{
    /* COLORS */
    --yellow: rgb(252, 183, 43);
    --light-yellow: rgb(255, 244, 223);
    --dark-navy: rgb(73, 85, 103);
    --dim-grey: rgb(147, 156, 170);
    --light-grey: rgb(229, 236, 244);
    --snow: rgb(242, 245, 249);
    --white-color: rgb(255, 255, 255);
    /* FONTS  */
    --main-font: "Space Mono", "Arial", san-serif;
    --secondary-font: "Lexend Deca", "Arial", san-serif;
  }